.listas-proyectos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-auto-rows: auto;
    grid-gap: 60px;
    min-width: fit-content;
    height: fit-content;
    background-color: rgb(197, 175, 175);
}


--color-primario: rgb(15, 64, 64);
--color-secundario: rgb(50, 112, 112);

#136b61